.background {
  background-image: linear-gradient(to top, rgb(158, 158, 158), whitesmoke);
}
.Home {
  display:flex;
  justify-content: center;
  
}

.Models {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  width: 60%;
  height: 200px;
  border: 1px solid white;
  background-color: white;
}