.Favorite {
  margin-top: 5%;

  &__btn{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
  }
  &__btn:hover{
    background-color: #577399;
    color: white;
  }
}

.Favorited {
  background-color: #577399;
  color: white;
  border: none;
  border-radius: 5px;
}