.Quantity {
  border: none;

}

.button {
  border: none;
  background-color: white;
  color: #577399;
  font-size: 15px;
}

.button:hover {
  background-color: #577399;
  color: white;
  border-radius: 5px;
}