.SearchBar {
  display: flex;
  margin-left: 20%;
  align-content: center;
  height: 20px;

}

.button {
  background: white;
  border: none;
  // border-radius: 50%;
  border-top-left-radius: 0%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #071F62;
}