.Models {
  display: flex;
  height: 135px;
  align-items: center;
  background-color: lightgray;  
  margin: 5%;
  border-radius: 7px;
  overflow-x: scroll;
  margin-top: 0%;

  &__img {
    height: 11rem;
    width: 14rem;
    padding: 3%;
    padding-left: 5%;
    border-radius: 7px;
    margin-left: 5%;
  }

  &__header{
    font-family: 'Orbitron', 'sans-serif';
    color: #071F62;
    display: flex;
    justify-content: center;
    margin-top: 5%;

  }
}