.background {
  background-image: linear-gradient(to top, rgb(158, 158, 158), whitesmoke);
}

.ProductsList {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}

.ProductsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  font-family: 'Orbitron', sans-serif;
}

.h1 {
  font-size: 75px;
}

.h2 {
  font-family: 'Gill Sans', sans-serif ;
}